main{
    margin-top: 130px;
    text-align: center;
}
.title{
    font-size: 400%; 
    margin: 80px 0 50px 0;
}
.grid{
    display: grid;
    grid-template-columns: 50% 50%;
}
a{
    color: inherit;
}
.team{
    width: auto;
}
.teamlogo{
    width: 100% - 10px;
    max-height: 180px;
    padding: 10px;
    height: 20%;
}
.teamlogo img{
    height: 100%;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.drivers{
    display: grid;
    grid-template-columns: 44% 44%;
    grid-column-gap: 6%;
    padding-left: 6%;
}
.driver{
    margin-bottom: 20px;
    border-radius: 5px;
}
.photo img{
    display: block;
    margin: 10px auto;
    width: 60%;
}
.name{
    font-family: verdana;
    text-align: center;
    padding: 20px 0 ;
}

.arrow{
    display: block;
    margin: 0 auto;
    padding: 0 0;
}


.driversDescription{
    background-color: white;
    color: black;
    width: 100%;
}
.driverDescriptionl{
    display: grid;
    grid-template-columns: 60% 34%;
    grid-column-gap: 1%;
    min-height: 300px;
    padding: 20px 0 20px 10px;
}
.driverDescriptionr{
    display: grid;
    grid-template-columns: 30% 58%;
    grid-column-gap: 4%;
    min-height: 300px;
    padding: 20px 0 20px 10px;
}
.about h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px 3px;
}
.about p{
    font-size: 18px;
    text-align: justify;
    padding: 6px 0px;
}
.image{
    display: block;
    margin: auto 0 auto auto;
}

.driverDescriptionr .image{
    display: block;
    margin: auto 0;
}

.image img{
    border: 1px solid black;
    height: 100%;
    max-height: 300px;
    box-shadow: 0.5px 1px #373B44;
}

#mercedes{
    background-color: #373B44;
    color: white;
}
#redbull{
    background-color: #44556ee8;
    color: #E40202;
}
#mclaren{
    background-color: #ec8200e8;
}
#ferrari{
    background-color: #f9120ae8;
}
#renault{
    background-color: #fede0bef;
}
#alphatauri{
    background-color: #f1f3f4ef;
}
#racingpoint{
    background-color: #EB5FB2;
}
#alfaromeo{
    color: white;
    background-color: #8A0003;
}
#haas{
    color:white;
    background-color: #060509d8;
}
#williams{
    background-color: #0194E1;
}
#astonmartin{
    background-color: #013532;
}
#alpine{
    background-color: #0c528b;
}

@media (max-width: 1370px){
    .driverDescriptionr .image{
        display: none;
    }
    .driverDescriptionl .image{
        display: none;
    }

    .driverDescriptionl{
        margin: 0 3%;
        grid-template-columns: 94% 0%;
        grid-column-gap: 0;
    }
    .driverDescriptionr{
        margin: 0 3%;
        grid-template-columns: 94% 0%;
        grid-column-gap: 0;
    }

}

@media (max-width: 975px){
    main{
        margin-top: 600px;
    }
    .grid{
        grid-template-columns: 100%;
    }
    .driversDescription{
        width: 100%;
        margin: 0;
    }
    .driverDescriptionl{
        grid-template-columns: 65% 35%;
        grid-column-gap: 1%;
    }
    .driverDescriptionr{
        grid-template-columns: 35% 65%;
        grid-column-gap: 1%;
    }
    .driverDescriptionr .image{
        display: block;
    }
    .driverDescriptionl .image{
        display: block;
    }
    .driverDescriptionr .image{
        display: none;
    }
    .driverDescriptionl .image{
        display: none;
    }

    .driverDescriptionl{
        margin: 0 3%;
        grid-template-columns: 94% 0%;
        grid-column-gap: 0;
    }
    .driverDescriptionr{
        margin: 0 3%;
        grid-template-columns: 94% 0%;
        grid-column-gap: 0;
    }
    .title{
        font-size: 300%;
    }
    
}

@media (max-width: 650px){
    .driverDescriptionl{
        grid-template-columns: 94%;
        margin: 0 3%;
    }
    .driverDescriptionr{
        grid-template-columns: 94%;
        margin: 0 3%;
    }
}

@media (max-width: 500px){
    .name h1{
        font-size: 20px;
    }
}