.container{
    width: 90%;
    margin-left: 5%;
    display: grid;
    grid-template-columns: 58% 38%;
    grid-column-gap: 4%;
    margin-bottom: 100px;
}

.tabel{
    width: 100%;
}

.tabel h1{
    font-size: 200%;
    padding-bottom: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tabel table{
    width: 90%;
}

.headoftable{
    font-size: 18px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tabel table tr,td{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 15px;
    font-size: 20px;
}
tr:nth-child(even){
    background-color: #dddddd;
}

.photo{
    width: 80%;
    max-height: 800px;
    border: 2px solid black;
    display: block;
    margin: auto 0 auto auto;
}
.photo img{
    width: 90%;
    max-height: 740px;
    padding: 3% 5%;
}
.photo h1{
    text-align: center;
    font-size: larger;
    padding-bottom: 5%;
}

hr{
    margin: 100px 15%;
    width: 70%;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}