.box{
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
}

.teamlogo{
    width: 50%;
    height: 30%;
}
.teamlogo img{
    height: 80%;
    display: block;
    margin: 0 auto;
}
.arrow{
    display: none;
}
.photo{
    width: 100%;
}
.photo img{
    width: 90%;
}
.title{
    margin: 50px 0 30px 0;
    text-align: center;
}

.image{
    display: none;
}

.about h1{
    text-align: center;
}