.grid{
    display: grid;
    grid-template-columns: 100%;
}

.teamlogo{
    width: 100% - 10px;
    max-height: 180px;
    padding: 10px;
    height: 20%;
}
.teamlogo img{
    height: 100%;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
.drivers{
    display: grid;
    grid-template-columns: 44% 44%;
    grid-column-gap: 6%;
    padding-left: 6%;
}
.driver{
    margin-bottom: 20px;
    border-radius: 5px;
}
.photo img{
    display: block;
    margin: 10px auto;
    width: 60%;
}
.name{
    font-family: verdana;
    text-align: center;
    padding: 20px 0 ;
}

.arrow{
    display: none;
}
.title{
    text-align: center;
    margin: 50px 0 40px 0;
    text-decoration: underline;
}


.driversDescription{
    background-color: white;
    color: black;
    width: 100%;
}
.driverDescriptionl{
    display: grid;
    grid-template-columns: 60% 34%;
    grid-column-gap: 1%;
    min-height: 300px;
    padding: 20px 0 20px 10px;
}
.driverDescriptionr{
    display: grid;
    grid-template-columns: 30% 58%;
    grid-column-gap: 4%;
    min-height: 300px;
    padding: 20px 0 20px 10px;
}
.about h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px 3px;
}
.about p{
    font-size: 18px;
    text-align: justify;
    padding: 6px 0px;
}

.image{
    display: block;
    margin: auto 0 auto auto;
}

.image img{
    border: 1px solid black;
    height: 90%;
    max-height: 270px;
    box-shadow: 0.5px 1px #373B44;
}