main{
    margin-top: 130px;
}

.box{
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
}
.card{
    height: 100%;
}
.teamlogo{
    width: 100% - 10px;
    padding: 10px;
    height: 30%;
}
.teamlogo img{
    height: 100%;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
.photo{
    width: 80%;
    margin: 10px 10%;
    display: block;
}
.photo img{
    width: 100%;
    display: block;
    margin: 0 auto;
}

.teamsDescription{
    width: 88%;
    margin: 0 5%;
}
.teamDescriptionl{
    margin-top: 50px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 60% 34%;
    grid-column-gap: 5%;
    min-height: 300px;
}
.teamDescriptionr{
    margin-top: 50px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 34% 60%;
    grid-column-gap: 5%;
    min-height: 300px;
}
.about h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px 3px;
}
.about p{
    font-size: 18px;
    text-align: justify;
    padding: 6px 3px;
}
.image{
    display: block;
    margin: auto 0 auto auto;
}
.teamDescriptionr .image{
    display: block;
    margin: auto auto;
}

.image img{
    border: 1px solid black;
    width: 100%;
    max-height: 300px;
    box-shadow: 0.5px 1px #373B44;
}

.arrow{
    display: block;
    margin: 0 auto;
    padding: 0 0;
}
.title{
    text-align: center;
    font-size: 400%;
    margin: 80px 0 50px 0;
}


#mercedes{
    background-color: #373B44;
}
#redbull{
    background-color: #44556ee8;
}
#mclaren{
    background-color: #ec8200e8;
}
#ferrari{
    background-color: #f9120ae8;
}
#renault{
    background-color: #fede0bef;
}

#alphatauri{
    background-color: #f1f3f4ef;
}

#racingpoint{
    background-color: #EB5FB2;
}
#alfaromeo{
    background-color: #8A0003;
}
#haas{
    background-color: #060509d8;
}
#williams{
    background-color: #0194E1;
}
#astonmartin{
    background-color: #013532;
}
#alpine{
    background-color: #0c528b;
}

@media (max-width: 975px){
    main{
        margin-top: 590px;
    }

    .box{
        grid-template-columns: 100%;
    }
    .teamDescriptionl{
        grid-template-columns: 100%;
    }
    .teamDescriptionr{
        grid-template-columns: 100%;
    }
    .teamDescriptionl .image{
        display: none;
    }
    .teamDescriptionr .image{
        display: none;
    }
}

