.header{
    width: 100%;
    height: 100px;
    display: block;
    background-color: #E10600;
    color: #ffffff;
    text-shadow: 1.5px 1px rgba(0, 0, 0, 0.603);
    position: fixed;
    left: 0;
    top: 0;
    border-bottom: 2.4px solid rgba(0, 0, 0, 0.568);
}
.innerHeader{
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
}
.logo{
    height: 100px;
    display: table;
    float: left;
}
.logo img{
    padding-top: 10px;
    height: 80px;
}

.navigation{
    float: right;
    height: 100%;
}
.navigation a:last-child{
    padding-right: 0px;
}
.navigation a{
    text-decoration: none;
    height: 100%;
    display: table;
    float: left;
    padding: 20px 20px;
}

.navigation a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: #ffffff;
    font-size: 28px;
    padding: 10px 6px;
    border: 2.4px solid rgba(0, 0, 0, 0.568);
    border-radius: 5px;
}

#toTop{
    position: fixed;
    right: 15px;
    bottom: 15px;
    background-color: #E10600;
    border-radius: 100px;
}

#otherPages:hover{
    color: rgb(240, 215, 215);
    background-color: #A50400;
}

#currentPage{
    background-color: #a50300a4;
}


@media (max-width: 1125px){
    .innerHeader{
        width: 100%;
    }
}


@media (max-width: 975px){
    .header{
        position: absolute;
        height: auto;
        padding-bottom: 10px;
    }
    .innerHeader{
        width: 100%;
    }
    .logo{
        margin: 10px auto;
        float: none;
        width: 100%;
        text-align: center;
    }
    .navigation{
        float: none;
        text-align: center;
        display: block;
        
    }
    .navigation a{
        margin-left: 10%;
        width: 80%;
        display: table;
        float: left;
        padding: 10px 0;
    }
    .navigation a li{
        display: block;
        height: auto;
    }
}