.header{
    width: 100%;
    display: block;
}
.nagigation{
    float: none;
    display: flex;
    flex-wrap: wrap;
}

.header{
    width: 100%;
    height: 100px;
    display: block;
    color: black;
    font-weight: 900;
    left: 0;
    top: 0;
    border-bottom: 2.4px solid rgba(0, 0, 0, 0.568);
}
.innerHeader{
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
}
.logo{
    height: 100px;
    display: table;
    float: left;
}
.logo img{
    padding-top: 10px;
    height: 60px;
}

.navigation{
    float: right;
    height: 100%;
}
.navigation a:last-child{
    padding-right: 0px;
}
.navigation a{
    text-decoration: none;
    height: 100%;
    display: table;
    float: left;
    padding: 20px 5px;
}

.navigation a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: black;
    font-size: 20px;
    padding: 0 5px;
    border: 2.4px solid rgba(0, 0, 0, 0.568);
    border-radius: 5px;
}
